<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TfsWorkbench.NotePadUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TfsWorkbench.NotePadUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TfsWorkbench.NotePadUI.Properties.Settings>
            <setting name="Title" serializeAs="String">
                <value>Note Pad</value>
            </setting>
            <setting name="Description" serializeAs="String">
                <value>A free form work item layout mode.</value>
            </setting>
            <setting name="DisplayPriority" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="DataFile" serializeAs="String">
                <value>TfsWorkbench\NotePad\Data.xml</value>
            </setting>
        </TfsWorkbench.NotePadUI.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <TfsWorkbench.NotePadUI.Properties.Settings>
            <setting name="DisplayModeScale" serializeAs="String">
                <value>1</value>
            </setting>
        </TfsWorkbench.NotePadUI.Properties.Settings>
    </userSettings>
</configuration>