<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TfsWorkbench.TaskBoardUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TfsWorkbench.TaskBoardUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TfsWorkbench.TaskBoardUI.Properties.Settings>
            <setting name="ModeName" serializeAs="String">
                <value>Task Board</value>
            </setting>
            <setting name="HelpPageUrl" serializeAs="String">
                <value>http://www.ScrumforTeamSystem.co.uk/ProcessGuidance/v3/scrum%20masters%20workbench/task-board</value>
            </setting>
            <setting name="DisplayPriority" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SwimLaneRowHeight" serializeAs="String">
                <value>196</value>
            </setting>
            <setting name="SmallCardSize" serializeAs="String">
                <value>100, 60</value>
            </setting>
            <setting name="MediumCardSize" serializeAs="String">
                <value>125, 90</value>
            </setting>
            <setting name="LargeCardSize" serializeAs="String">
                <value>157, 110</value>
            </setting>
            <setting name="ExtraLargeCardSize" serializeAs="String">
                <value>200, 150</value>
            </setting>
        </TfsWorkbench.TaskBoardUI.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <TfsWorkbench.TaskBoardUI.Properties.Settings>
            <setting name="CurrentCardSize" serializeAs="String">
                <value>125, 90</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="UseSmoothScrolling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BoardScale" serializeAs="String">
                <value>1</value>
            </setting>
        </TfsWorkbench.TaskBoardUI.Properties.Settings>
    </userSettings>
</configuration>
