<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TfsWorkbench.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TfsWorkbench.Core.Properties.Settings>
            <setting name="TypeFieldName" serializeAs="String">
                <value>System.WorkItemType</value>
            </setting>
            <setting name="IdFieldName" serializeAs="String">
                <value>System.Id</value>
            </setting>
            <setting name="TitleFieldName" serializeAs="String">
                <value>System.Title</value>
            </setting>
            <setting name="StateFieldName" serializeAs="String">
                <value>System.State</value>
            </setting>
            <setting name="IterationPathFieldName" serializeAs="String">
                <value>System.IterationPath</value>
            </setting>
            <setting name="AreaPathFieldName" serializeAs="String">
                <value>System.AreaPath</value>
            </setting>
            <setting name="ExclusionState" serializeAs="String">
                <value>Deleted</value>
            </setting>
            <setting name="ProjectFileSubDirectory" serializeAs="String">
                <value>TfsWorkbench\ProjectData</value>
            </setting>
            <setting name="ItemColour" serializeAs="String">
                <value>#FFFFFF00</value>
            </setting>
            <setting name="ExcludedStateColour" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="VolumeWarningLevel" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="RevisionFieldName" serializeAs="String">
                <value>System.Rev</value>
            </setting>
        </TfsWorkbench.Core.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
