<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TfsWorkbench.WpfUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="TfsWorkbench.WpfUI.Constants.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TfsWorkbench.WpfUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TfsWorkbench.WpfUI.Properties.Settings>
            <setting name="WindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </TfsWorkbench.WpfUI.Properties.Settings>
        <TfsWorkbench.WpfUI.Constants.Settings>
            <setting name="LastProjectCollectionUrl" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastProjectIterationPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastProjectName" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastCollectionGuid" serializeAs="String">
                <value/>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </TfsWorkbench.WpfUI.Constants.Settings>
    </userSettings>
    <applicationSettings>
        <TfsWorkbench.WpfUI.Properties.Settings>
            <setting name="HomePageUrl" serializeAs="String">
                <value>https://tfsworkbench.codeplex.com/</value>
            </setting>
            <setting name="ApplicationTitle" serializeAs="String">
                <value>TFS Workbench v2.3</value>
            </setting>
            <setting name="HelpPageUrl" serializeAs="String">
                <value>http://www.ScrumforTeamSystem.co.uk/ProcessGuidance/v3/scrum%20masters%20workbench</value>
            </setting>
        </TfsWorkbench.WpfUI.Properties.Settings>
    </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
