<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TfsWorkbench.ProjectSetupUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TfsWorkbench.ProjectSetupUI.Properties.Settings>
            <setting name="ReleaseType" serializeAs="String">
                <value>Release</value>
            </setting>
            <setting name="SprintType" serializeAs="String">
                <value>Sprint</value>
            </setting>
            <setting name="TeamType" serializeAs="String">
                <value>Team Sprint</value>
            </setting>
            <setting name="ReleaseStartDateFieldName" serializeAs="String">
                <value>Scrum.v3.PlannedWorkStarts</value>
            </setting>
            <setting name="ReleaseEndDateFieldName" serializeAs="String">
                <value>Scrum.v3.PlannedWorkEnds</value>
            </setting>
            <setting name="SprintStartDateFieldName" serializeAs="String">
                <value>Scrum.v3.SprintStart</value>
            </setting>
            <setting name="SprintEndDateFieldName" serializeAs="String">
                <value>Scrum.v3.SprintEnd</value>
            </setting>
            <setting name="TeamStartDateFieldName" serializeAs="String">
                <value>Scrum.v3.SprintStart</value>
            </setting>
            <setting name="TeamEndDateFieldName" serializeAs="String">
                <value>Scrum.v3.SprintEnd</value>
            </setting>
            <setting name="RelationLinkName" serializeAs="String">
                <value>Scrum.ImplementedBy</value>
            </setting>
            <setting name="TeamCapacityField" serializeAs="String">
                <value>Scrum.v3.Capacity</value>
            </setting>
            <setting name="DefaultWorkStreamCadance" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="DefaultTeamCapacity" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ReleaseDepth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SprintDepth" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TeamDepth" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ModeName" serializeAs="String">
                <value>Project Setup</value>
            </setting>
            <setting name="HelpPageUrl" serializeAs="String">
                <value>http://www.ScrumforTeamSystem.co.uk/ProcessGuidance/v3/scrum%20masters%20workbench/project-setup</value>
            </setting>
            <setting name="DisplayPriority" serializeAs="String">
                <value>40</value>
            </setting>
        </TfsWorkbench.ProjectSetupUI.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
